<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить пользователя</title>
	
</head>
<body bgcolor="#FFE4B5" link="black" vlink="#FF0000." alink="#800080">
<fieldset>
<legend>Добавление нового пользователя</legend>
 <form action="" method="POST">
        {% csrf_token %}
     <p><label for="id_username">Логин :</label> <input type="text" name="login" maxlength="100" required="" id="id_username"></p>
     <p><label for="id_password">Пароль :</label> <input type="text" name="password" maxlength="100" required="" id="id_password"></p>
        <br><input type="submit" value="Создать"/></br>
    </form>
</fieldset>
    <p></p>
    <button><a href="/userlist">Назад</a></button>
</body>
</html>