<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    
    <link href = "style.css" rel = "stylesheet">
    <meta charset="utf-8" />
    <title>Железнодорожные вокзалы</title>
</head>

<body background="1.png">
  
<h1 align="left">Железнодорожные вокзалы</h1>
<h2 align="right">авторизоваться</h2>
<div class="picture">
<img src="cat.jpg" align="center" width="458" height="518"
alt="кися">
<p>Животное</p>
</div>
<div class="info" id="result">
Ответ:45.
</div>
<p><a href="mailto:katenoksuper1@mail.ru">
Напишите мне</a></p>
<table width="100%" align="center" border="1">
<tr><th colspan="3">месяц</th></tr>
<tr>
<td>январь</td>
<td>февраль</td>
<td>март</td>
</tr>
</table>
<p><dfn>Информация</dfn>
&mdash; то..</p>
<cite>Карету мне, карету!</cite>
<p><em>Вася</em></p>
<p><strong>кек</strong></p>
<p><code> a:= a+b; </code></p>
<p><abbr>HTML</abbr></p>
<p><i>Vasya</i></p>
<p><b>Vasya</b></p>
<p><u>Vasya</u></p>
<p><s>Vasya</s></p>
<p><a href="newpage.html">
страницу </a></p>
<img scr="butterfly.jpg" align="left" width="400" height="300"
onMouseOver="this.src='butterfly.jpg'"
onMouseOut="this.src='window.jpg'">

<script type="text/javascript"
src="test.js"></script>
<link rel="stylesheet" type="text/css"
href="test.css">


<div id="details" class="hidden">
Детали — это гайка, болт, винт, шуруп, гвоздь и др.
</div>
<a href="#" onClick="snow('details'); return false;">
Показать детали
</a>

<form name="calc">
<input name="answer">
<input type="button" value="Готово"
onClick="check();">
</form>


</body>
</html>